/* Formulario de agregar usuario */
.formulario {
    max-width: 700px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    background-color: white;
    border-radius: 15px;
}
.formulario select {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-color: rgb(73, 223, 60);
}
.formulario input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid rgb(73, 223, 60);
    outline: none;
}
.formulario input:focus {
    border: 2px solid rgb(73, 223, 60);
    border-radius: 10px;
}
#boton {
    font-size: 20px;
    border: 0;
    margin: 20px auto;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
#boton img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

/*Formulario de agregar contrase単a*/
.formulario2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 700px;
    margin: 15px auto;
    padding: 35px;
}
.formulario2 input {
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 2px solid rgb(73, 223, 60);
    outline: none;
}
.formulario2 input:focus {
    border: 2px solid rgb(73, 223, 60);
    border-radius: 10px;
}
#botonAgregarUsuario {
    font-size: 20px;
    border: 0;
    margin: 20px auto;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
#botonAgregarUsuario img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

/* Estilos para el contenedor de contrase単a */
.contenedorContrase単a {
  position: relative; 
  display: flex; 
  align-items: center; 
  margin-bottom: 15px; 
}

.contenedorContrase単a input {
  padding: 10px;
  padding-right: 40px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1; 
}

.toggle-password {
  position: absolute; 
  right: 10px; 
  margin-bottom: 20px;
}

.toggle-password img {
  display: block; 
}