.contenedorMaterial {
    max-width: 700px;
    margin: 50px auto 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.encabezadoMaterial {
    display: flex;
    flex-direction: row;
}
.encabezadoMaterial h3 {
    width: 50%;
    flex-direction: column;
    margin: 10px;
}
.enviarMaterial {
    display: flex;
    flex-direction: row;
}
.enviarMaterial input {
    padding: 8px;
    width: 50%;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
#agregarMaterial {
    background: none;
    border: none;
    display: flex;
    margin: auto;
}
#agregarMaterial img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.enviarMaterial input:focus {
    border: 2px solid #419744;
    border-radius: 30px;
}
#botonEnviar {
    font-size: 20px;
    border: 0;
    margin: 35px auto;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
#botonEnviar img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 10px;
}