#volver {
    margin-left: 40%;
    margin: 15px 15px 15px 40px;
    padding: 5px;
    display: flex;
}
#volver button{
    border-radius: 10px;
    border: 0;
    background: none;
    cursor: pointer;
}
#volver img {
    width: 10px;
    height: 10px;
    margin: 0 3px;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 630px;
    margin: 0 auto;
    align-items: center;
}
.encabezado h2{
    margin: 0 15px;
}
.iconos img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 15px;
}