footer {
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    margin: 0 auto 0 auto;
    padding: 5px;
}
footer p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: #333;
}