.formulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 700px;
    margin: 15px auto;
    padding: 35px;
}
.formulario input {
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 2px solid rgb(73, 223, 60);
    outline: none;
}
.formulario input:focus {
    border: 2px solid rgb(73, 223, 60);
    border-radius: 10px;
}
#botonAgregarUsuario {
    font-size: 20px;
    border: 0;
    margin: 20px auto;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
#botonAgregarUsuario img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
